@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
	box-sizing: border-box;
}


/* TODO: Create a pallete */
@layer base {
	/* :root {/ */
		/* --toast-timeout: 3s; */
	/* } */

	/* .dark {

	} */
}
:root {
	--header-height: 4rem;
}


body {
    background-color: #f8f8f8;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Reusable classes */

/* .absolute-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}  */

.page-main {
	@apply py-16 px-32 flex flex-col
}


/* TRANSITIONS */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.35s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}


/* TRANSITION-GROUP */
.list-move, /* apply transition to moving elements */
.list-enter-active,
.list-leave-active {
  transition: all 650ms ease;
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

/* ensure leaving items are taken out of layout flow so that moving
   animations can be calculated correctly. */
.list-leave-active {
  position: absolute;
}

.simple-list-move,
.simple-list-enter-active,
.simple-list-leave-active {
  transition: all 650ms ease;
}

.simple-list-enter-from,
.simple-list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

/* ensure leaving items are taken out of layout flow so that moving
   animations can be calculated correctly. */
.simple-list-leave-active {
	  position: absolute;
}