@import './base.css';

#app {
	@apply flex flex-col relative 
	;
}

.tost {
  	@apply 	flex flex-col gap-3 fixed top-32 right-14 transition-all duration-500 
			z-[9999];

	anchor-name: --tost-container;
}
.tost > div > p {
	@apply px-3 py-4
}

.tost-n {
	@apply mt-24 relative bg-white text-lg shadow-md opacity-0 duration-500 transition-all
	;

	position-anchor: --tost-container;
	/* inset-area: center; */
	position-try-options: flip-block;

	right: -50%;
    transform: translate(200px, 100px);
}
/* 
.tost-n::backdrop {
	@apply w-fit bg-transparent 
} */

.tost-show {
	@apply 	mt-0 opacity-100;
}
.tost-show::before {
  	@apply w-full absolute bottom-0 left-0 h-1 bg-black content-[''];
	animation: new-tost var(--tost-timeout, 3s) 1 linear forwards;
	animation-play-state: var(--tost-play-state, running);
}
@keyframes new-tost {
	to {
		width: 0%;
	}
}

.tost-hide {
	@apply 	-mt-24 opacity-0;
}

/* BUTTON */
.base-button {
	@apply 	bg-white
			focus:outline-none active:border-b-rose-600 -outline-offset-4
			focus-visible:outline focus-visible:outline-black focus-visible:-outline-offset-[0.375rem]
	;
}

.button-main {
	@apply 	h-fit px-3 py-2 border-2 border-transparent border-[#1b1b1b] outline-none transition-all
			hover:bg-gray-100

			disabled:bg-gray-200 disabled:text-gray-700 disabled:cursor-not-allowed
			disabled:placeholder:text-gray-500
}

/* .button-main:read-only {
	background-color: #e5e7eb;
	color: #374151;
	cursor: 'not-allowed';
	
}

.base-button:read-only:focus {
	border-color;: #1b1b1b
} */

/* BUTTON COLORS */
.button-main-hollow {
	@apply 	h-fit px-3 py-2 border-2 border-transparent border-b-[#1b1b1b] outline-none transition-all
	
			disabled:bg-gray-200 disabled:text-gray-700 disabled:cursor-not-allowed
			disabled:placeholder:text-gray-500
}

.button-main-link {
	@apply 	px-1 py-2 text-lg flex gap-2 items-center border-b-2 border-transparent outline-none transition-all 
			hover:border-b-rose-600 
			active:border-b-rose-800
}

.button-main-clean {
	@apply 	h-fit outline-none transition-all
}

.button-primary-color {
	@apply bg-white text-black
}

.button-primary-inverted {
	@apply 	bg-black text-white
			hover:bg-neutral-800
			active:border-b-white
}

/* BUTTON SIZES */
.button-sm {
	@apply px-2 py-1
}

.hover-red-button {
	@apply  bg-transparent cursor-pointer transition-all
			hover:scale-110 active:scale-95
	;
	--shadow-color: hsla(0, 100%, 50%, 0.075);
}

.hover-red-button:hover, .hover-red-button:active {
    filter: 
        drop-shadow(0 1px 1px hsl(0deg 0% 0% / 0.075))
        drop-shadow(0 4px 4px var(--shadow-color))
        drop-shadow(0 8px 8px var(--shadow-color))
        drop-shadow(0 16px 16px hsl(0deg 0% 0% / 0.075))
        drop-shadow(0 2px 2px hsl(0deg 0% 0% / 0.075));
}

/* @media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
} */

@media (min-width: 1024px) {
  /* body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  } */
}
